# Maven
**/target/
**/.m2repo/

# Node
**/node_modules/
**/dist/

# Android / Gradle
**/.gradle/
**/.gradle-tmp/
**/app/build/
**/local.properties

# IDE / OS
.DS_Store
.idea/
.vscode/
*.iml

# Logs
*.log
